<h1><%= t('.headline') %></h1>

<p>This page is the index of the site. We are using localization to set the H1 on this page.</p>

<p>The default test is stored in the standard config/locales/en.yml file and the alternative is stored in test/split/test1/locale.yml</p>

<p><%= link_to 'See the About Page', about_path %></p>